<footer class="page-footer" aria-label="Site footer">
  <div>
    <h3>Verena Pues</h3>
    <p>Software Engineering | Design | Human Computer Interaction</p>
  </div>
  <div class="footer-connect">
    <div class="col">
      <h3>Connect</h3>
      <div class="link-list">
        <a href="mailto:hello@verenapues.com" aria-label="Email">Email</a>
        <a href="https://www.linkedin.com/in/verena-pues/" target="_blank" rel="noopener"
          >LinkedIn</a
        >
        <a href="https://github.com/vseup" target="_blank" rel="noopener">GitHub</a>
      </div>
    </div>
  </div>
  <div class="footer-legal">
    <div class="col">
      <h3>Legal</h3>
      <div class="link-list">
        <a href="" rel="noopener">Privacy</a>
        <a href="" rel="noopener">Imprint</a>
        <p>(c) {{ currentYear }} Verena Pues</p>
      </div>
    </div>
  </div>
</footer>
