<header class="page-header">
  <a class="portfolio" routerLink="/">Verena Pues</a>

  <nav aria-label="Primary">
    <ul class="nav-list">
      <li>
        <a
          class="nav-link"
          routerLink="/"
          fragment="projects"
          routerLinkActive="is-active"
          [routerLinkActiveOptions]="{
            exact: true,
            fragment: 'exact',
          }"
          ariaCurrentWhenActive="page"
        >
          Projects
        </a>
      </li>
      <li>
        <a
          class="nav-link"
          routerLink="/about"
          routerLinkActive="is-active"
          [routerLinkActiveOptions]="{ exact: true }"
          ariaCurrentWhenActive="page"
        >
          About
        </a>
      </li>
    </ul>
  </nav>
</header>
