<div class="avatar" #avatar>
  <img
    class="avatar-bg"
    ngSrc="/images/hero-avatar-bg-1.png"
    alt=""
    width="1254"
    height="1254"
    aria-hidden="true"
  />
  <img
    class="avatar-bg bg-2"
    ngSrc="/images/hero-avatar-bg-2.png"
    alt=""
    width="1254"
    height="1254"
    aria-hidden="true"
  />
  <img
    class="avatar-foreground"
    ngSrc="/images/hero-avatar.png"
    alt=""
    width="1254"
    height="1254"
    priority
  />

  <div class="avatar-eyes">
    <span class="eye eye-left">
      <span class="pupil" [style.transform]="pupilTransform()"></span>
    </span>

    <span class="eye eye-right">
      <span class="pupil" [style.transform]="pupilTransform()"></span>
    </span>
  </div>
</div>
