@use '../project.page.scss';

:host {
  display: block;
}

.preview-bg {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 35rem;
}

.preview-bg img {
  height: 100%;
  width: auto;
  max-width: none;
  flex-shrink: 0;
}

.img-100 {
  width: 100%;
  height: auto;
}

.youtube-button {
  margin-top: 0.5rem;
}
