:host {
  display: block;
}

.divider,
.projects {
  padding-inline: var(--layout-gutter-inline);
}

.projects {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.projects-header h2 {
  font-weight: var(--text-weight-extra-bold);
  color: var(--color-text-primary);
  font-size: var(--text-size-3xl);
  line-height: var(--text-line-height-heading);
}

.projects-header p {
  margin-top: 1rem;
  max-width: 50ch;
}

.project-grid {
  margin: 2.5rem 0 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.5rem;
}

@media (max-width: 680px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}
