:host {
  display: block;
}

.project-page {
  padding: 6rem var(--layout-gutter-inline) 4rem;
  display: grid;
  gap: 2rem;
}

p.project-text {
  max-width: 62ch;
}

.project-page img {
  max-width: 100%;
  height: auto;
}

.back {
  font-size: var(--text-size-xs);
}

.img-100 {
  width: 100%;
  height: auto;
}
