* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/manrope/Manrope-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
}

:root {
  --font-family-base: 'Manrope', sans-serif;

  --color-bg-canvas: #f6f2fA;
  --color-bg-canvas-light: #fbf6ff;
  --color-bg-skip-link: #111827;
  --color-bg-tag: #e5e0ea;
  --color-bg-button-primary: #202020;
  --color-bg-button-primary-hover: #18244e;
  --color-bg-button-primary-pressed: #0b122b;
  --color-bg-button-ghost-hover: #f1eef5;
  --color-bg-button-ghost-pressed: #e5e0ea;
  --color-bg-avatar: var(--color-bg-canvas);

  --color-border-default: #e5e0ea;
  --color-border-button: #e5e0ea;
  --color-border-button-ghost-hover: #c7c7c7;
  --color-border-button-ghost-pressed: #bcbcbc;

  --color-text-primary: #202020;
  --color-text-secondary: #67626b;
  --color-text-tag: #303030;
  --color-text-on-dark: #f9fafb;
  --color-text-on-primary: #f9fbff;

  --color-project-sun: #e0b23d;
  --color-project-pink: #cf71ad;
  --color-project-sky: #6997da;
  --color-project-violet: #8f7bda;
  --color-project-mint: #68c390;

  --color-accent: var(--color-project-violet);
  --color-focus-ring: var(--color-accent);

  --text-weight-regular: 400;
  --text-weight-medium: 500;
  --text-weight-semibold: 600;
  --text-weight-bold: 700;
  --text-weight-extra-bold: 800;

  --text-line-height-tight: 1.06;
  --text-line-height-heading: 1.12;
  --text-line-height-title: 1.2;
  --text-line-height-solid: 1;
  --text-line-height-body: 1.35;
  --text-line-height-default: 1.5;

  --text-tracking-tight: -0.02em;
  --text-tracking-wide: 0.02em;

  --text-size-xs: 0.85rem;
  --text-size-sm: 0.95rem;
  --text-size-md: 1.02rem;
  --text-size-lg: 1.125rem;
  --text-size-xl: 1.25rem;
  --text-size-2xl: clamp(1.15rem, 2vw, 1.65rem);
  --text-size-3xl: clamp(1.4rem, 2.1vw, 2rem);
  --text-size-4xl: clamp(2rem, 3.4vw, 3.5rem);
  --text-size-5xl: clamp(2.2rem, 5vw, 4.5rem);
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: var(--font-family-base);
  line-height: var(--text-line-height-default);
  font-size: var(--text-size-md);
  color: var(--color-text-primary);
  background: var(--color-bg-canvas);
}

p,
ul,
h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-text-secondary)
}

a:hover {
  color: var(--color-text-primary);
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}