@use '../project.page.scss';

:host {
  display: block;
}

.preview-bg {
  background-color: var(--color-accent);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 30rem;
}

.preview-bg img {
  width: 100%;
  height: auto;
  max-width: 55rem;
}
